html,
body {
 position: relative;
 height: 100%;
 font: 400 1em/1.4 Open Sans,sans-serif;
 text-rendering: optimizeLegibility;
 color: #7d7d7d
}

#app {
  background: #222 center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#app-caption {
  width: 100%;
}