html,
body{
 height: 100%;
}

#app {
  background: #222 center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#app-caption {
  width: 100%;
}

.error-msg {
  color: red;
  display: block;
  bottom: -4em;
}