<section id="app">
  <div id="app-caption">
      <div id="container" class="container">
          <div class="row text-white">
              <div class="col-sm-6 offset-sm-3 text-center">
                  <h1 class="display-4">{{title}}</h1>
                  <div class="info-form">
                      <form [formGroup]="form" class="form-inlin justify-content-center">
                          <div class="form-group">
                              <label class="sr-only">Name</label>
                              <input type="text" [(ngModel)]="requisicao.palavra" class="form-control" 
                                     placeholder="Palavra" name="palavra" id="palavra"
                                     formControlName="palavra" (keydown)="MACAddressInput($event)"
                                     >
                          </div>
                          <div class="form-group" *ngIf=" isShowTable">
                               <table class="table table-sm table-light">
                                   <thead class="table-light">
                                       <th scope="col">Vogal</th>
                                       <th scope="col">Tempo Processamento</th>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>{{respostaDesafio.vogal}}</td>
                                           <td>{{respostaDesafio.tempoTotal}}</td>
                                       </tr>
                                   </tbody>
                               </table>
                          </div>
                          <button (click)="recuperaPrimeiraVogalAposCosoanteNaoRepetidaAntecedidaPorVogal()" 
                                   class="btn btn-success" [disabled]="form.invalid">Enviar!
                          </button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>